ALLOWED_ORIGINS=http://127.0.0.1:4200,http://localhost:4200
DATA_FILE_PATH=./server/data/site-data.json
CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-api-key
CLOUDINARY_API_SECRET=your-api-secret
